server {
    listen       81;
    server_name  docker-registry.arimit.su;

    client_max_body_size  1G;
    auth_basic            "Restricted";
    auth_basic_user_file  /usr/local/nginx/conf.d/docker-registry.htpasswd;

    location / {
        proxy_pass ${DOCKER_REGISTRY_HOST};
    }
}
